<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>01.FirstProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet> <!-- 지정한 이름을 실제 주소로 넘겨주는 맵핑 역할을 한다. -->
  	<display-name>Member</display-name>
  	<servlet-name>Member</servlet-name>
  	<servlet-class>Member</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Member</servlet-name>
  	<url-pattern>/member.do</url-pattern>
  </servlet-mapping>
</web-app>
